/* .parent{
    position: absolute; 
    width: 20%;
    box-sizing: border-box;
    left: 0;
    bottom: 0; 
    color: black;
    background-color: #5C6497;    
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
}

img {
    height: 190px;
}

 */

* {
    box-sizing: border-box;
    font-family: "Rajdhani", "Jura", sans-serif;
    font-size: 22px;
}

.formLevels {
    position: absolute; /* или fixed, в зависимости от ваших нужд */
    left: 0;
    bottom: 39px;
    border-radius: 12px;
}

.formLevelsForm {
    width: 396px;
    background-color: #ffffff00;
    /* height: 100vh; */
    padding: 24px 60px;
    padding-top: 5px;
    font-size: 23px;
    color: #fff;
}

.parent{
    position: absolute; 
    max-width: 396px;
    width: 100%;
    /* height: calc(100vh); */
    box-sizing: border-box;
    left: 0;
    color: black;
    /* background-color: #5C6497; */
}

form img {
    margin-bottom: 20px;
}

.form-group {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.label_inner_text {
    height: 50px;
    border-radius: 3px;
    color: #5C6497;
    background-color: #ffffff;
    padding: 0 5px;
}

form button {
    background-color: #fff;
    border-radius: 3px;
    outline: none;
    width: 125px;
    height: 50px;
    border: none;
    color: #5C6497;
}

img {
    height: 190px;
}

form {
    width: 396px;
    background-color: #5C6497;
    /* height: 100vh; */
    padding: 24px 60px;
    font-size: 23px;
    color: #fff;
    border-radius: 10px;
}

.subtitle {
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}

form input {
    outline: none;
    border: none;
    height: 50px;
    border-radius: 3px;
    color: #5C6497;
    margin-left: 5px;
}

.w220 {
    width: 220px;
}
.w230 {
    width: 230px;
}
.w160 {
    width: 160px;
}
.w70 {
    width: 70px;
}
.w50 {
    width: 35px;
}
.mt0 {
    margin-top: 0;
}
.bgc0 {
    background-color: #ffffff00;
}
.colfff{
    color: #fff;
}
.borderfff{
    border: 1px solid #fff;

}

.input-size {
    width: 50px; /* Можно настроить под нужный размер */
    height: 50px;
}

.center{
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center;     /* Выравнивание по вертикали */
}