.parent{
    position: absolute; 
    width: 20%;
    box-sizing: border-box;
    left: 0;
    bottom: 0; 
    color: black;
    /* padding: 5px 10px; */
    background-color: #5C6497;    
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
}

img {
    height: 190px;
}