header img {
    height: 42px;
}

header {
    background-color: #9290C3;
    color: white;
    height: 35px;
}

time {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #070F2B;
}

.hidden {
    display: none;
}