.squareImage {
    width: 216px;
    height: 216px;
}


.sFormText{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 23px;
    color: #5c6497;
}

.lFormText{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    color: #e3e3ec;
}



.adSquare {
    display: flex; /* Делает контейнер гибким */
    align-items: center; /* Выравнивает дочерние элементы по вертикали */
}

.form-groupsq1,
.form-groupsq2 {
    padding: 10px;
}

.form-groupsq1 {
    float: left; /* Выравнивает элемент слева */
    margin-right: 20px; /* Расстояние между блоками */
}

.form-groupsq2 {
    float: left; /* Выравнивает элемент слева */
}


.labela,
.labeld {
    width: 100px;
    height: 20px;
}