.level-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5% 15%;
    box-sizing: border-box;
}

.level-button {
    display: block;
    background-color: #4ca3af;
    color: white;
    color: #4afff0;
    border: none;
    text-align: center;
    padding: 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 6px;
}

.level-button:hover {
    background-color: #3e8e41;
}