.App {
  margin: 0;
  padding: 0;
  height: 100%;

  text-align: center;
}

Header {
  background-color: lightgray;
  padding: 5px; 
}

.styleContainerScene {
  display: flex;
  height: calc(100vh - 106px);
  width: 100vw;
}

.constructionTree {
  width: 20%;
  background-color: #9290C3;
}

.containerButtons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerDivsButtons {
  display: flex;
  justify-content: space-around;
  background-color: white;
}







.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}