.constructionTree {
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    /* Добавляет вертикальный скролл, если содержимое не помещается */
    display: flex;
    flex-direction: column;
    /* Выстраивает элементы в столбик */
    gap: 5px;
    /* Расстояние между элементами */
    padding: 5px;
    /* Отступ от краев области */
    width: 396px;
    background-color: #5C6497;
}

.shape-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.shape-image {
    width: 40px;
    height: 40px;
}