.Workbench {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;

    text-align: center;
}

Header {
    background-color: lightgray;
    padding: 5px;
}

.styleContainerScene {
    display: flex;
    /* width: 100vw; */
    background-color: #5C6497;
}

.styleContainerSceneHlearn {
    height: calc(100vh - 94px);
    /*-38px */
}

.styleContainerSceneHcalc {
    height: calc(100vh - 106px);
}


.constructionTree {
    width: 20%;
    background-color: #5C6497;
}

.containerButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerDivsButtons {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.containerDivsDescription {
    position: absolute;
    width: 100vw;
    display: flex;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    justify-content: space-around;
    background-color: #535C91;
    font-size: 18px;
}

.btnsStages {
    /* width: 20%; */
    height: 39px;
}

.btnStage {
    width: 50%;
    height: 49px;
    font-size: 1.2rem;
    background-color: #535C91;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Rajdhani', 'Jura', sans-serif;
    font-weight: 500;
}

.btnStage:hover {
    background-color: #4a507b;
}

.resAnswerRect {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 5px;
    color: white;
    border: none;
    width: 75%;
}

.greenResAnswerRect {
    color: rgb(75, 255, 75);
}

.orangeResAnswerRect {
    color: rgb(255, 207, 119);
}

.redResAnswerRect {
    color: rgb(255, 131, 131);
}   