.Workbench {
    margin: 0;
    padding: 0;
    height: 100%;

    text-align: center;
}

Header {
    background-color: lightgray;
    padding: 5px;
}

.styleContainerScene {
    display: flex;
    /* width: 100vw; */
    background-color: #5C6497;
}

.styleContainerSceneHlearn {
    height: calc(100vh - 106px - 38px);
}
.styleContainerSceneHcalc {
    height: calc(100vh - 106px);
}


.constructionTree {
    width: 20%;
    background-color: #5C6497;
}

.containerButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerDivsButtons {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.containerDivsDescription {
    display: flex;
    justify-content: space-around;
    background-color: white;
    font-size: 18px;
}

.btnStage {
    width: 50%;
    height: 39px;
    font-size: 1.2rem;
    background-color: #5C6497;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Rajdhani',  'Jura', sans-serif;
    font-weight: 500;
}

.btnStage:hover {
    background-color: #4a507b;
}