.Home {
    height: 100%;
    background-color: #33334D;
    color: #D9D9D9;
}

.headerHome {
    height: 96px;
    background-color: #9290C3;
    width: 100%;
    color: #33334D;
}

.logoHome {
    display: flex;
    align-items: center;
    font-size: 24px;
    position: absolute;
    margin-left: 76px;
}

.imgLogo {
    width: 67px;
    height: auto;
    margin-right: 15px;
}

.containerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navHome {
    color: #33334D;
    display: flex;
    width: 694px;
    max-width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.imgGrid {
    margin-top: 32px;
    width: 626px;
    height: auto;
    border: 2px solid #ffffff;
    border-radius: 8px;
}

.descrGrid {
    width: 626px;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: #d9d9d9;
}

.headGrid {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #d9d9d9;
}

.btnGrid {
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    color: #33334D;
    display: flex;
    justify-content: center;
    background-color: #9290C3;
    text-decoration: none;
    border-radius: 10px;
    width: 625px;
    height: 98px;
}

.btnGrid:hover {
    background-color: #B2B0D9;
}

#project-block {
    margin-top: 128px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title {
    font-weight: 500;
    font-size: 64px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    color: #d9d9d9;
    margin-bottom: 10px;
}

.project-title-cont {
    align-self: flex-start;
}

.bold-descr-project {
    font-weight: 700;
    font-size: 28px;
}

.project-description {
    font-weight: 400;
    font-size: 32px;
    color: #d9d9d9;
    text-align: justify;
    max-width: 950px;
    margin-top: 160px;
}

.pyramidImg {
    position: absolute;
    right: 0px;
    /* Расстояние от правого края */
    width: 396px;
    height: auto;
}

.pyramidImg2 {
    position: absolute;
    left: 0px;
    /* Расстояние от правого края */
    width: 405px;
    height: auto;
    margin-top: 220px;
}

.rLine {
    align-items: flex-start;
}

.project-title-cont-theory {
    margin-top: 206px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}

.theory-group {
    margin-top: 88px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.theory-rect {
    position: relative;
    border-radius: 10px;
    width: 386px;
    height: 510px;
    background: #d9d9d9;
}

.small-rect {
    position: absolute;
    /* Абсолютное позиционирование */
    bottom: 0;
    /* Прижимаем к нижней части родительского блока */
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    width: 386px;
    height: 271px;
    background: #9290c3;
    color: #33334D;


}

.small-rect h4 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #33334d;
    max-width: 304px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.small-rect p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #33334d;
    max-width: 304px;
}

.videoPlay {
    width: 104px;
    height: auto;
}

.small-rect2 {
    display: flex;
    /* Добавляем Flexbox */
    flex-direction: column;
    /* Располагаем элементы вертикально */
    justify-content: center;
    /* Центрируем по вертикали */
    align-items: center;
    /* Центрируем по горизонтали */
    height: 239px;
}


.teamHeader {
    font-weight: 400;
    font-size: 64px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 128px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.teamHeadCont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 45px;
}

.teamPath {
    width: 1255px;
    height: auto;
}

.teamPathCont {
    margin-top: 254px;
    display: flex;
    justify-content: center;
}

.rectFoot {
    margin-top: 128px;
    max-width: 100%;
    height: 8px;
    background-color: #9290c3;
}

.footerHome {
    display: flex;
    align-items: center;
    width: 100%;
    height: 96px;
}

.abs {
    position: absolute;
}

.ArtemCont {
    margin-top: 30px;
    margin-left: 40px;
}

.naneSqr {
    border-radius: 10px;
    width: 786px;
    height: 127px;
    background: #9290c3;
    margin-top: -135px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fullSqr {
    margin-left: 200px;
}

.fullSqrDm {
    margin-left: 250px;
}

.fullSqrOl {
    margin-left: 290px;
}

.nameSqr {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #33334d;
}

.roleSqr {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #33334d;
}

.artSqr {
    margin-left: 110px;
}

.dmSqr {
    margin-left: 960px;
}

.lsSqr {
    margin-left: 160px;
}

.artemImg {
    width: 557px;
    height: auto;
}

.dmitryImg {
    margin-left: 938px;
    margin-top: 510px;
    width: 399px;
    height: auto;
}

.olesyaImg {
    margin-left: 65px;
    margin-top: 950px;
    width: 534px;
    height: auto;
}

.fig1 {
    width: 321px;
    height: auto;
    position: absolute;
    margin-left: 1200px;
    margin-top: 125px;
}

.fig2 {
    width: 315px;
    margin-top: 550px;
    margin-left: 100px;
    height: auto;
    position: absolute;
}

.fig3 {
    width: 140px;
    margin-top: 1110px;
    margin-left: 610px;
    height: auto;
    position: absolute;
}

.fig4 {
    width: 405px;
    margin-top: 1170px;
    margin-left: 1500px;
    height: auto;
    position: absolute;
}